<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--id 和 name 的区别
        name 可以有多个别名
        id 只能有一个
    -->
    <!--name和index 都是指定对应的注入参数-->

    <bean id="music1" class="com.fd.demo.soundsystem.Music">
        <constructor-arg value="IU" />
        <constructor-arg value="10000" />
    </bean>
    <bean id="music2" class="com.fd.demo.soundsystem.Music">
        <constructor-arg value="IU 2" />
        <constructor-arg value="10000" />
    </bean>
    <bean id="music3" class="com.fd.demo.soundsystem.Music">
        <constructor-arg value="IU 3" />
        <constructor-arg value="10000" />
    </bean>

    <bean id="compactDisc1" class="com.fd.demo.soundsystem.CompactDisc" >
        <constructor-arg index="0" name="title" value="i do"/>
        <constructor-arg name="artist" value="mww" />
        <constructor-arg name="tracks">
            <!--list和set  set会去掉重复-->
            <set>
                <!--<value>IU 1</value>-->
                <!--<value>IU 2</value>-->
                <!--<value>IU 3</value>-->
                <ref bean="music1"/>
                <ref bean="music2"/>
                <ref bean="music3"/>
                <ref bean="music3"/>

            </set>
        </constructor-arg>
    </bean>


    <!--<bean id="compactDisc2" class="com.fd.demo.soundsystem.CompactDisc"-->
          <!--c:title="龙卷风" c:artist="IU" />-->

    <!--<bean id="cdPlayer1" class="com.fd.demo.soundsystem.CDPlayer">-->
        <!--<constructor-arg ref="compactDisc1"/>-->
    <!--</bean>-->

    <!--<bean id="cdPlayer2" class="com.fd.demo.soundsystem.CDPlayer" c:cd-ref="compactDisc2">-->
    <!--</bean>-->
    <!--<bean id="cdPlayer3" class="com.fd.demo.soundsystem.CDPlayer" c:_0-ref="compactDisc2">-->
    <!--</bean>-->
</beans>